.menu_wrapper{
    padding: 45px 16px;
}
.search_bar{
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 30px;
}

.panel{
    padding-top: 15px;

    margin-bottom: 30px;
}

.panel_item{
    border: 1px solid #3471FF;
    border-radius: 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height */


    color: #3471FF;
    padding: 2px 7px;
    margin-right: 7px;
}

.active{
    color: #272727;
    background: #3471FF;
}


.notes_item{
    background: #1F1F1F;
    border-radius: 5px;
    padding: 12px 11px;
    margin-bottom: 10px;
}

.note_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;
}

.note_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: #A6A6A6;
    margin-top: 7px;
    margin-bottom: 7px;
}

.note_action{
    display: flex;
    flex-direction: row-reverse;
}